<div class="container">

  <p>
  <mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular App using RestAPI</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>face</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>comment</mat-icon>
    </button>
  </mat-toolbar>
</p>

  <h1>Test Starts</h1>
  <h1>{{message}}</h1>

  <app-test (childEvent)="message=$event" [parentData]="name"></app-test>

  <h1>Test Ends</h1>
  <app-users></app-users>

</div>